.nome{
  display: inline-block;
  /* background-color: red;  font-size: 0.9rem; */
  font-family: arial;
  font-weight: 200;
  color: white;
  display: flex;
  justify-content: center;

}
.margem{
  margin-top: 30px;
}
.bloco{
  background-color: #B87648;
}
.nome hr{
  width: 500px;
  color: white;
  background-color: white !important;
  height: 4px;
  border: none;
}
.container{
position: relative;
  justify-self: center;
  /* background-color: red; */
  width: 500px;
}
.nome img{
  width: 40px;
  height: auto;
  display: inline;
  padding-right: 30px;
  
}
.icone{
  vertical-align: middle;
  display: inline-block;
}
.icone h1{
  display: inline;
}
.nome a{
  text-decoration: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.nome a:hover{
  color: white;

}
.alinhamento{
  display: flex;
  justify-content: center;
}

.text-center
{
    margin-right:"3000px";
    background-color: #CDCDCD;
    height: 55px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin-top: 74px;
}